<h1>Projects</h1>
<style>
	.completed {
		text-decoration: line-through;
	}
</style>

<section id="projects">
	<section class="main">
		<ul id="lstProjects">
			<li id="tmplProject">
				<input type="hidden" id="_id"/>
				<div class="view">
					<input class="chkProjectComplete toggle" type="checkbox">
					<span class="editlabel">
						<span style="margin-left:50" class="name"></span>
						<span style="margin-left:50" class="namefield" style="display:none"></span>
					</span>										
					<button class="destroy"></button>
					<button class="subtask"></button>
					<button class="schedule"></button>
				</div>
			</li>
		</ul>
	</section>      
</section>